.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.checkbox__span, .checkbox__text, .modal__btn--close, .backdrop, .clients__link, .doing-list__title, .advantages-list__icon-wrap, .contacts__link, .icon-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

.btn {
  cursor: pointer;
}

body {
  font-family: "Roboto", Tahoma, sans-serif;
  background-color: #FFFFFF;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.icon-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__logo {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.header__logo--color {
  color: #000000;
}

.navigation {
  display: flex;
}

.navigation-list,
.contacts {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list__link:hover, .navigation-list__link:focus {
  color: #2196F3;
}

.navigation-list--current {
  color: #2196F3;
  position: relative;
}
.navigation-list--current::after {
  content: "";
  height: 4px;
  background-color: #2196F3;
  width: 100%;
  border-radius: 2px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -33px;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
  fill: #2196F3;
}

.contacts__icon {
  margin-right: 10px;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  display: block;
  margin-bottom: 30px;
}
.footer__logo--color {
  color: #FFFFFF;
}

.adress__item:not(:last-child) {
  margin-bottom: 10px;
}

.adress__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress__link--adress-color {
  color: #FFFFFF;
}
.adress__link--contact-color {
  color: rgba(255, 255, 255, 0.6);
}

.container__footer {
  display: flex;
  align-items: baseline;
}

.adress-wrap {
  flex-grow: 1;
}

.company-soc {
  margin-left: 70px;
  margin-right: 93px;
}
.company-soc__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.company-soc__list {
  display: flex;
}
.company-soc__item:not(:first-child) {
  margin-left: 10px;
}
.company-soc__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-soc__link:hover, .company-soc__link:focus {
  background-color: #2196F3;
}

.mail__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.form-send {
  display: flex;
}
.form-send__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  margin-right: 12px;
}
.form-send__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-send__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-send__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-send__btn--send {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border-color: transparent;
}
.form-send__icon {
  fill: #FFFFFF;
  margin-left: 10px;
}

.hero {
  background-color: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/bground/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}
.hero__title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
}
.hero__button {
  display: block;
  min-width: 200px;
  height: 50px;
  flex-shrink: 0;
  background-color: #2196F3;
  border: #2196F3;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-right: 10px 32px;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
}
.advantages-list__item:not(:last-child) {
  margin-right: 30px;
}
.advantages-list__icon-wrap {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.advantages-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.advantages-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.doing {
  padding-top: 0;
}
.doing__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.doing-list {
  display: flex;
  margin-left: -30px;
}
.doing-list__item {
  position: relative;
  width: calc(33.3333333333% - 30px);
  margin-left: 30px;
}
.doing-list__title {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
}
.team__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}
.team-list__item {
  width: calc(25% - 30px);
  margin-left: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.team-list__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}
.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}
.team-soc-list__item:not(:first-child) {
  margin-left: 10px;
}
.team-soc-list__link {
  background-color: #FFFFFF;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-list__link:hover, .team-soc-list__link:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.clients__title {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  margin-left: -30px;
}

.clients__item {
  width: calc(16.6666666667% - 30px);
  margin-left: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  fill: #2196F3;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #F5F4FA;
  border: #F5F4FA;
  color: #212121;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  border: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.portfolio-list__item {
  width: calc(33.3333333333% - 30px);
  margin-left: 30px;
}

.portfolio-list__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.portfolio-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__image-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-list__description-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover .portfolio-list__description-text, .portfolio-list__link:focus .portfolio-list__description-text {
  transform: translateY(0%);
}

.portfolio-list__text-wrap {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio-list__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 5px;
}

.portfolio-list__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  transition: transform 300ms;
  transform: translate(20px, 0%);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(20px, 100%);
}

.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn--close:hover, .modal__btn--close:focus {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal__field:not(:last-child) {
  margin-bottom: 10px;
}

.modal__field:last-child {
  margin-bottom: 20px;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal__input-wrap {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 48px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus, .modal__input:hover {
  border-color: #2196F3;
  outline: none;
}

.modal__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.modal__input:focus + .modal__icon, .modal__input:hover + .modal__icon {
  fill: #2196F3;
}

.modal__text {
  display: block;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__policy {
  color: #2196F3;
  margin-left: 5px;
}

.checkbox__span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__text .checkbox__span {
  background-color: #2196F3;
}

.checkbox__input:focus + .checkbox__text .checkbox__span {
  border-color: #2196F3;
}

.checkbox__input:checked + .checkbox__text .checkbox__span .checkbox__icon {
  fill: #FFFFFF;
  border: 0.2px solid #2196F3;
}

.modal__btn--send {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 56px 10px 55px;
  margin: 0 auto;
  border-color: transparent;
}/*# sourceMappingURL=main.css.map */