.hero {
    background-color: $hero-footer-bgcolor;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: 
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../../../images/bground/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
    &__title {
        display: block;
        @include font(null, 900, 44px, 1.36, 0.06em);
        text-align: center;        
        text-transform: uppercase;
        color: $primary-color;
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 696px;
    }
    &__button {
        display: block;
        min-width: 200px;
        height: 50px;
        flex-shrink: 0;
        background-color: $accent-color;
        border: $accent-color;
        @include font($primary-font, 700, 16px, 1.88, 0.06em);
        font-style: normal;
        text-align: center;
        color: $primary-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding-right: 10px 32px;
        margin: 0 auto;
    }
}