.header {
    border-bottom: 1px solid #ECECEC;
    header__logo {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-right: 93px;
    }
}

.logo__header--color {
    color: $header-logo-color;
}

.navigation {
    display: flex;
}

.navigation-list,
.contacts {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navigation-list__item:not(:last-child),
.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list__link {
    @include font(null, 500, 14px, 1.14, 0.02em);
    color: $primary-text-color;
    transition:
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.navigation-list--current {
    color: $accent-color;
    position: relative;
    &::after {
        content: "";
        height: 4px;
        background-color: $accent-color;
        width: 100%;
        border-radius: 2px;
        display: block;
        position: absolute;
        left: 0;
        bottom: -33px;
    }
}

.contacts__link {
    @include font(null, 500, 14px, 1.14, 0.02em);
    color: $secondary-text-color;
    @extend %flex-ai-jc;
    fill: #757575;
    transition:
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-color;
        fill: $accent-color;
    }
}

.contacts__icon {
    margin-right: 10px;
}

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}