.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list__item:not(:last-child) {
    margin-right: 8px;
}

.filter-list__btn {
    @include font(inherit, 500, 16px, 1.63, 0.03em);
    text-align: center;    
    background-color: $secondary-bgcolor;
    border: $secondary-bgcolor;
    color: $primary-text-color;
    border-radius: 4px;
    padding: 6px 22px;
    transition:
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $primary-color;
        background-color: $accent-color;
        border: $accent-color;
        box-shadow: 0px 3px 1px $primary-rgba-color,
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.portfolio-list__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    &:not(:nth-last-child(-n + 3)) {
            margin-bottom: 30px;
    }
}

.portfolio-list__link {
    display: block;
    transition:
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-list__image-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-list__description-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    @include font($primary-font, null, 18px, 1.56, 0.03em);
    color: $primary-color;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .portfolio-list__link:hover &,
    .portfolio-list__link:focus & {
            transform: translateY(0%);
    }
}

.portfolio-list__text-wrap {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-list__title {
    @include font(null, null, 18px, 2, 0.06em);
    color: $primary-text-color;
    margin-bottom: 5px;
}

.portfolio-list__text {
    @include font(null, null, 16px, 1.88, 0.03em);
    color: $secondary-text-color;
}