$primary-font: "Roboto";
$secondary-font: "Raleway";
$primary-color: #FFFFFF;
$header-logo-color: #000000;
$hero-footer-bgcolor: #2F303A;
$secondary-bgcolor: #F5F4FA;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$color-link: #AFB1B8;
$primary-rgba-color: rgba(0, 0, 0, 0.1);